.section {
  margin: 24px 0;

  .section-title {
    line-height: var(--line-height);

    &-s {
      font-size: 1em;
    }
    &-m {
      font-size: 1.15em;
    }
    &-l {
      font-size: 1.3em;
    }

    &-bold {
      font-weight: bold;
    }
    &-italic {
      font-style: italic;
    }
  }
}
