.loop(@i: 1) when(@i <= 5) {
  &-@{i} {
    width: @i * 20%;
  }
  .loop((@i + 1));
}

.level {
  display: flex;
  flex-wrap: wrap;

  &-item {
    width: 50%;
  }
  &-title {
    font-size: 0.85em;
    margin-bottom: 4px;
  }
  &-progress {
    margin-bottom: 12px;
  }

  &-bar {
    width: 85%;
    height: 12px;
    position: relative;
    background-color: #fafafa;
    border-radius: 8px;
    &-value {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      border-radius: inherit;
      background-color: #ccc;
      .loop();
    }
  }

  &-circle {
    display: flex;

    &-item {
      width: 24px;
      height: 12px;
      border-radius: 6px;
      background-color: #fafafa;
      margin-right: 8px;

      &-selected {
        background-color: #ccc;
      }
    }
  }
}
